name: Build

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Cache Gradle
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Enable gradle permission
        run: chmod +x gradlew

      - name: Restore google-services.json
        run: |
          echo "${{ secrets.FIREBASE_JSON }}" | base64 -d > TMessagesProj/google-services.json

      - name: Restore keystore
        run: |
          echo "${{ secrets.KEYSTORE_FILE }}" | base64 -d > nekogram.keystore

      - name: Create local.properties
        run: |
          echo "storeFile=../nekogram.keystore" >> local.properties
          echo "storePassword=${{ secrets.KEYSTORE_PASSWORD }}" >> local.properties
          echo "keyAlias=${{ secrets.KEY_ALIAS }}" >> local.properties
          echo "keyPassword=${{ secrets.KEY_PASSWORD }}" >> local.properties

      - name: Configure gradle
        run: |
          echo "org.gradle.jvmargs=-Xmx3g" >> gradle.properties
          echo "android.useAndroidX=true" >> gradle.properties
          echo "android.enableJetifier=true" >> gradle.properties
          echo "ABI_FILTERS=armeabi-v7a" >> gradle.properties

      - name: Build Release APK
        run: ./gradlew assembleRelease --stacktrace

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Nekogram-ARMv7a
          path: TMessagesProj/build/outputs/apk/